<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.coco.mapper.BoardMapper">

	<!-- TB_BOARD 정보 저장 -->
	<insert id="postSaveBoard" parameterType="com.smhrd.coco.domain.TB_BOARD" useGeneratedKeys="true" keyProperty="board_id">
		   INSERT INTO TB_BOARD (CUST_ID, BOARD_TITLE, BOARD_MEMBERS, BOARD_PERIOD, BOARD_DEADLINE,
                       BOARD_OPENLINK, BOARD_CONTENT, BOARD_VIEWS, BOARD_POSITION, PRO_TITLE, PRO_IMG, PRO_LINK)
                 VALUES (#{cust_id},#{board_title},#{board_members},#{board_period},#{board_deadline},#{board_openlink},#{board_content},
                         #{board_views},#{board_position},#{pro_title},#{pro_img},#{pro_link});
	</insert>
	
	<!-- TB_BOARD 정보 업데이트 -->
	<update id="postUpdateBoard" parameterType="com.smhrd.coco.domain.TB_BOARD">
		   UPDATE TB_BOARD SET BOARD_TITLE = #{board_title}, BOARD_MEMBERS=#{board_members}, BOARD_PERIOD=#{board_period}, 
		   BOARD_DEADLINE=#{board_deadline},BOARD_OPENLINK=#{board_openlink}, BOARD_CONTENT=#{board_content}, 
		   BOARD_POSITION=#{board_position}, PRO_TITLE=#{pro_title}, PRO_IMG=#{pro_img} WHERE BOARD_ID = #{board_id};
	</update>

	<!-- TB_BOARD_SKILL 정보 저장 -->
	<insert id="postSaveSkill">
			INSERT INTO TB_BOARD_SKILL (BOARD_ID, SKILL_NAME)
								VALUES (#{board_id}, #{SKILL_NAME});
	</insert>
	
	<!-- TB_BOARD_SKILL 정보 삭제 -->
	<delete id="postDeleteSkill">
			DELETE FROM TB_BOARD_SKILL WHERE BOARD_ID = #{board_id};
	</delete>
	
	
	<!-- TB_BOARD_SKILL 정보 업데이트 -->
	<update id="postUpdateSkill" parameterType="com.smhrd.coco.domain.TB_BOARD_SKILL">
			UPDATE TB_BOARD_SKILL SET SKILL_NAME=#{SKILL_NAME} WHERE BOARD_ID = #{board_id}
	</update>

	<!-- TB_BOARD_IMG 정보저장 -->
	<insert id="postSaveImg" parameterType="com.smhrd.coco.domain.TB_BOARD_IMG">
			INSERT INTO TB_BOARD_IMG (BOARD_ID, BOARD_IMG)
							VALUES (#{board_id}, #{BOARD_IMG});
	</insert>
	
	<!-- TB_BOARD_IMG 정보 업데이트 -->
	<update id="postUpdateImg" parameterType="com.smhrd.coco.domain.TB_BOARD_IMG">
			UPDATE TB_BOARD_IMG SET BOARD_IMG=#{BOARD_IMG} WHERE BOARD_ID = #{board_id}
	</update>
	
	<!-- 게시글 작성시 APPLY 게시판 응모여부에 H(호스트)로 저장하기 -->
	<insert id="postSaveApply">
			INSERT INTO TB_APPLY (BOARD_ID, CUST_ID, APPROVE_YN)
							VALUES (#{board_id}, #{cust_id}, 'H');
	</insert>
	
	<!-- 선택한 게시물 board 테이블에서 정보가져오기 -->
	<select id="selectPostBoard" resultType="com.smhrd.coco.domain.TB_BOARD">
			SELECT BOARD_ID, CUST_ID, BOARD_TITLE, BOARD_MEMBERS, BOARD_PERIOD, BOARD_DEADLINE, BOARD_OPENLINK, 
					BOARD_CONTENT, BOARD_DT, BOARD_VIEWS, BOARD_POSITION 
			FROM TB_BOARD WHERE BOARD_ID = #{board_id}
	</select>
	
	<!-- 선택한 게시물 cust 테이블에서 정보가져오기 -->
	<select id="selectPostCust" resultType="com.smhrd.coco.domain.TB_CUST">
			SELECT CUST_ID, CUST_NICK, CUST_IMG FROM TB_CUST WHERE CUST_ID=#{cust_id}
	</select>
	
	<!-- 선택한 게시물 skill 테이블에서 정보가져오기 -->
	<select id="selectPostSkill" resultType="com.smhrd.coco.domain.TB_BOARD_SKILL">
			SELECT BOARD_ID, SKILL_NAME FROM TB_BOARD_SKILL WHERE BOARD_ID = #{CUST_ID}
	</select>
	
	<!-- 선택한 게시물 board_img 테이블에서 정보가져오기 -->
	<select id="selectPostImag" resultType="com.smhrd.coco.domain.TB_BOARD_IMG">
			SELECT BOARD_ID, BOARD_IMG FROM TB_BOARD_IMG WHERE BOARD_ID = #{board_id}
	</select>
	
	<!-- 선택한 게시물 bookmark 여부 -->
	<select id="selectPostBmk">
			SELECT COUNT(*) FROM TB_BOOKMARK WHERE BOARD_ID=#{board_id} AND CUST_ID=#{cust_id}
	</select>
	
	<!-- 선택한 게시물 응모 여부 -->
	<select id="selectPostApply">
			SELECT COUNT(*) FROM TB_APPLY WHERE BOARD_ID=#{board_id} AND CUST_ID=#{cust_id}
	</select>
	
	<!-- 게시글에 지원시 apply 테이블에 정보 저장 -->
	<insert id="postApply">
			INSERT INTO TB_APPLY (BOARD_ID,CUST_ID)
							VALUES (#{board_id}, #{sender_id});
	</insert>
	
	<!-- 게시글 지원시 notice 테이블에 정보 저장 -->
	<insert id="postApplyNotice">
			INSERT INTO TB_NOTICE (RECEIVER_ID, NOTICE_CONTENT, BOARD_ID, SENDER_ID)
							VALUES (#{receiver_id}, '님께서 모집 게시글에 지원했습니다.', #{board_id}, #{sender_id});
	</insert>
	
	<!-- 알림 보낼때 notice 테이블 정보 가져오기 -->
	<select id="noticeInfo" resultType="com.smhrd.coco.domain.TB_NOTICE">
			SELECT NOTICE_CONTENT, NOTICE_DT, SENDER_ID FROM TB_NOTICE WHERE RECEIVER_ID = #{cust_id};
	</select>
	
	<!-- 알림 보낼때 cust 테이블에서 사진, 닉네임 가져오기 -->
	<select id="senderInfo" resultType="com.smhrd.coco.domain.TB_CUST">
			SELECT CUST_NICK, CUST_IMG FROM TB_CUST WHERE CUST_ID = #{sender_id};
	</select>
	
	<!-- 게시글 지원취소 -->
	   <delete id="unPostApply">
      delete from TB_APPLY where CUST_ID = #{cust_id} and
      BOARD_ID =
      #{board_id} ;
   </delete>

	<!-- 프로젝트 링크 보내기(없는지 확인하여 있다면 생성) -->
	<select id="getOrCreateProLink" resultType="string">
			{call GetOrCreateProLink(#{board_id,jdbcType=INTEGER})}
	</select>
	
	<!-- 모집마감 -->
	<update id="postDeadline">
		UPDATE TB_BOARD SET BOARD_DEADLINE = #{toDay} WHERE BOARD_ID = #{board_id}
	</update>
	
	<!-- 게시글 삭제 클릭시 board_id => admin 관리자로 변경 -->
	<update id="postDelete">
		UPDATE TB_BOARD SET CUST_ID = 'admin' WHERE BOARD_ID = #{board_id}
	</update>



</mapper>