<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.coco.mapper.CustMapper">

	<!--회원 테이블(TB_CUST) 에서 아이디(CUST_ID)에 맞는 
	    닉네임(CUST_NICK), 경력(CUST_CAREER), 깃허브링크(CUST_GIT), 직군 포지션(CUST_ROLE) 가져오기 -->
	<select id="mypageCust" resultType="com.smhrd.coco.domain.TB_CUST">
		select CUST_NICK, CUST_CAREER, CUST_GIT, CUST_ROLE from TB_CUST where
		CUST_ID = ${'CUST_ID'};
	</select>


	<!--포트폴리오 테이블(TB_PF)에서 아이디(CUST_ID)에 맞는
	    포트폴리오 제목(PF_TITLE), 파일경로(PF_PATH) 가져오고  -->
	<select id="mypagePf" resultType="com.smhrd.coco.domain.TB_PF">
		select PF_TITLE, PF_PATH from TB_PF where CUST_ID = ${'CUST_ID'};
	</select>

	<!--조인 조건 : 게시글 번호(BOARD_ID) 
		응모 테이블(TB_APPLY)에서 아이디(CUST_ID) 수락여부(APPROVE_YN)가 Y인 것 중에서  
		게시글 테이블(TB_BOARD)와 프로젝트제목(PRO_TITLE)과 사진경로(PRO_IMG) 가져오기  -->
	<select id="mypageApply" resultType="com.smhrd.coco.domain.TB_BOARD">
		select B.PRO_TITLE, B.PRO_IMG
		from TB_BOARD B JOIN TB_APPLY A 
		ON B.BOARD_ID = A.BOARD_ID
		where A.CUST_ID = #{'CUST_ID'}
		and A.APPROVE_YN ='Y' ;
	</select>

</mapper>