<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.coco.mapper.ProjectMapper">

	<!-- 프로젝트 응모 수락여부 Y인 멤버들 닉네임, 프로필사진 정보 보내기 -->
	<select id="projectMemberList" resultType="com.smhrd.coco.domain.TB_CUST">
		SELECT C.CUST_NICK, C.CUST_IMG
		FROM TB_BOARD B
		INNER JOIN TB_APPLY A ON B.BOARD_ID = A.BOARD_ID
		INNER JOIN TB_CUST C ON A.CUST_ID = C.CUST_ID
		WHERE B.BOARD_ID = #{board_id} AND A.APPROVE_YN = 'Y';
	</select>
	
	<!-- 프로젝트 응모 수락여부 N인 유저 아이디, 닉네임, 프로필사진 -->
	<select id="projectApplyList" resultType="com.smhrd.coco.domain.TB_CUST">
		SELECT C.CUST_NICK, C.CUST_IMG, C.CUST_ID
		FROM TB_BOARD B
		INNER JOIN TB_APPLY A ON B.BOARD_ID = A.BOARD_ID
		INNER JOIN TB_CUST C ON A.CUST_ID = C.CUST_ID
		WHERE B.BOARD_ID = #{board_id} AND A.APPROVE_YN = 'N' ;
	</select>
	
	<!-- 응모여부 N -> Y 로 바꾸기 (board_id, cust_id) -->
	<update id="projectAccept">
		UPDATE TB_APPLY SET APPROVE_YN='Y' WHERE BOARD_ID = #{board_id} AND CUST_ID = #{cust_id};
	</update>
	
	<!-- 프로젝트 응모 거절로 응모테이블에서 삭제하기 -->
	<delete id="applyDecline">
		DELETE FROM TB_APPLY WHERE BOARD_ID = #{board_id} AND CUST_ID = #{cust_id};
	</delete>
	
	<!-- 프로젝트 명, 프로젝트 이미지 보내기. 이미지 없으면 null 값으로 (board_id) -->
	<select id="projectInfo" resultType="com.smhrd.coco.domain.TB_BOARD">
		SELECT PRO_TITLE, PRO_IMG FROM TB_BOARD WHERE BOARD_ID = #{board_id};
	</select>
	
	<!-- 프로젝트 명, 프로젝트 이미지 업데이트 (board_id) -->
	<update id="projectInfoUpdate">
		UPDATE TB_BOARD SET PRO_TITLE = #{pro_title}, PRO_IMG = #{pro_img} WHERE BOARD_ID = #{board_id};
	</update>
	
	<!-- 알림 닉네임, 프로필사진 가져오기 -->
	<select id="getNoti" resultType="com.smhrd.coco.domain.TB_CUST">
		SELECT CUST_NICK, CUST_IMG
		FROM TB_CUST
		WHERE CUST_ID = #{cust_id};
	</select>



</mapper>