<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.coco.mapper.ProjectMapper">

	<select id="projectMemberList" resultType="com.smhrd.coco.domain.TB_CUST">
		SELECT C.CUST_NICK, C.CUST_IMG
		FROM TB_BOARD B
		INNER JOIN TB_APPLY A ON B.BOARD_ID = A.BOARD_ID
		INNER JOIN TB_CUST C ON A.CUST_ID = C.CUST_ID
		WHERE B.BOARD_ID = #{board_id} AND A.APPROVE_YN = 'Y';
	</select>



</mapper>