#Contents-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#Contents-box>div {
  flex-basis: calc(100%);
  margin-bottom: 20px;
  background-color: #ffffff;
  box-sizing: border-box;
}

#Contents-box>div>div {
  width: 100%;
  height: 150px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px;
  border: #2a5b9c 2px solid;
  border-radius: 2%;
}

.Contentsbox{
  display: flex;
}


.Contentsbox-A{
  width: 70%;
  margin-left: 5%;
}