.header-container {
  width: 100%;
  height: auto;
  /* 높이를 자동으로 조절하도록 변경 */
  min-height: 65px;
  /* 최소 높이 설정 */
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  /* 기본 폰트 크기 설정 */
  margin-top: 30px;
}

/* 미디어 쿼리: 화면 너비가 768px 이상인 경우 */
@media (min-width: 768px) {
  .header-container {
    height: 60px;
    /* 화면 너비가 768px 이상일 때 높이 설정 */
    font-size: 20px;
    /* 화면 너비가 768px 이상일 때 폰트 크기 조절 */
  }
}

.login {
  font-size: large;
}

/* 모달 백그라운드 오버레이 스타일 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* 반투명한 검은 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  /* 다른 요소 위에 띄우기 */
}

/* 팝업 스타일 */
.modal-content {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* 팝업 내부 요소 스타일 */
.popup {
  text-align: center;
}

/* 팝업 닫기 버튼 스타일 */
.popup button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.header-logo {
  margin-top: 10px;
  /* background-color: #7d7d7d; */
}


.mypageicon>img {
  height: 60px;
}

.header-buttons-div {
  display: flex;
}

.header-buttons-div>div {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}


.mypageicon>img {
  width: 40px;
  min-width: 40px;
  min-height: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 60%;
  border: solid #ccc 1px;
}

.mypageicon img {
  width: 60px;
  height: 60px;
  object-fit: cover;

}

.mypageicon button {

  background-color: #007bff;

}


.writeicon {
  font-size: large;
  margin-left: 1210px;
  width: auto;
  height: auto;
}

.writeicon>button {
  width: 100px;
  /* background-color: aquamarine; */
  font-weight: 600;
}

.header-buttons-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* 요소를 오른쪽으로 정렬합니다. */
}

.header-buttons-div>button {

  /* background-color: #007bff; */
  width: 110px;
  font-size: large;
  font-weight: 600;
}


.header-containerH {
  width: 100%;
}

.header-container {
  display: flex;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.writeicon {

  font-weight: 800;
}

.login {
  /* background-color: #ccc; */
  width: 130px;
  font-weight: 800;
}

.mypageicon {
  margin-left: 10px;
}