.notification-container {
  left: -200px;

  padding: 20px;
  width: 300px;
  position: absolute;
  z-index: 1;
}

.notification-contents-container {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 5px;
  background-color: darkgray;
  background-color: rgba(0, 0, 0, 0.22);
  border-radius: 30px;
  display: flex;
  flex-direction: row;
}

.notification-profileImg {
  width: 50px;
  border-radius: 50%;
}

.notification-text {
  text-align: start;
  margin-left: 10px;
  width: 85%;
  font-size: 12px;
}

.notification-date {
  text-align: start;
  width: 85%;
  margin-top: 5px;
  margin-left: 10px;
  color: gray;
  font-size: 10px;
}

.notification-close > img {
  margin-top: 0px;
  width: 10px;
}
